<div id="profile">
    <div class="username">
        <h1>
            User : {{$ctrl.profile.username}}
        </h1>
    </div>
    <div class="content-video">
        <iframe width="550" height="350" src="{{$ctrl.currentVideo}}"></iframe>
    </div>
    <div class="list-video">
        <div ng-repeat="video in $ctrl.profile.youtubeLinks track by $index">
            <div class="video-link" ng-click="$ctrl.currentVideo = video.link">
                <span ng-bind="video.title" ng-class="{'select':video.link == $ctrl.currentVideo}"></span>
            </div>
        </div>
    </div>
</div>