<div id="home">
    <div ng-repeat="alert in $ctrl.alerts">
        <alert-directive message="alert"></alert-directive>
    </div>
    <div ng-hide="$ctrl.profile.ban"  class="content-video">
        <iframe width="550" height="350" src="{{$ctrl.currentVideo}}"></iframe>
    </div>
    <div ng-show="$ctrl.profile.ban" class="content-video">
        <h1>Access is denied</h1>
    </div>
    <div class="list-video">
        <div ng-repeat="video in $ctrl.allVideos track by $index">
            <div class="video-link" ng-click="$ctrl.setSelectVideo(video.link)">
                <span ng-bind="video.title" ng-class="{'select':video.link == $ctrl.currentVideo}"></span>
                <button ng-show="video.link == $ctrl.currentVideo && !$ctrl.profile.ban" ng-click="$ctrl.addMyList(video)">Add</button>
            </div>
        </div>
    </div>
</div>