@import "../style/app";

#menu-navigation{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  background-color: @color-body;
  width: 100%;
  height: @height-list-menu;

  .toogle-db{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-transform: uppercase;
    color: @color-title;

    li{

    }
  }

  .toogle-db{
    li:hover{
      color: @color-body;
    }
  }

  ul{
    .mixin-pos-center;
    outline: none;

    li{
      list-style-type:none;
      width: 100px;
      height: @height-list-menu;
      cursor:pointer;
      .mixin-pos-center;

      a{
        text-decoration: none;
        text-transform: uppercase;
        color: @color-title;
      }
    }

    li:hover {
      background-color: @color-title;
      a{
        color: @color-body;
      }
    }
  }


}