<div id="admin-page">
    <div class="left-side">
        <h1>Users</h1>
        <div ng-class="{'select': $admin.selectUser._id == user._id}"
            class="user" ng-click="$admin.selectUserHandler(user)"
            ng-repeat="user in $admin.users track by $index">
            <span ng-bind="user.username"></span>
            <span class="ban-user" ng-if="user.ban"> (ban)</span>
        </div>
    </div>
    <div class="right-side">
        <div>
            <h1>
                <span ng-bind="$admin.selectUser.username"></span>
                <button ng-click="$admin.handlerBan($admin.selectUser._id)" class="do-ban">
                    <span ng-if="!$admin.selectUser.ban">Do ban</span>
                    <span ng-if="$admin.selectUser.ban">Remove ban</span>
                </button>
            </h1>
        </div>
        <div class="content-video">
            <iframe width="550" height="350" src="{{$admin.currentVideo}}"></iframe>
        </div>
        <div class="list-video">
            <div class="video-link"
                 ng-click="$admin.selectVideo(link)"
                 ng-repeat="link in $admin.selectUser.youtubeLinks track by $index">
                <span ng-bind="link.title"></span>
            </div>
        </div>
    </div>
</div>
<div ng-repeat="alert in $admin.alerts">
    <alert-directive message="alert"></alert-directive>
</div>